openapi: 3.0.0
info:
  title: Web serwer
  description: Web app API
  version: 0.1.9

servers:
  - url: https://designed-api.onrender.com/api
    description: production server
  - url: http://localhost:8000/api
    description: local server
paths:
  /web:
    get:
      tags:
        - Webs
      responses:
        "200":
          description: Successfully fetched
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /categories:
    get:
      tags:
        - Webs
      responses:
        "200":
          description: Successfully fetched
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
